<div class="mx-auto max-w-md mt-8 p-6 bg-white">
  <h1 class="text-[20px] font-bold text-center mb-6">String Calculator</h1>
  
  <h2 class="text-[16px] mb-6">Sum is <%= @sum %></h2>
  <%= link_to "Calculate Again", root_path, class: "w-full bg-blue-500 hover:bg-blue-600 text-white text-[16px] py-2 px-4" %>
</div>

